  * {
                font-weight: 600;
                color: rgb(41, 48, 40);
                font-family: "Chelsea Market", system-ui;
            }
        
            header {
                position: relative;
                height: fit-content;
            }
        
            .navbar-toggler,
            .button-nav-two {
                background-color: transparent;
                border: none;
            }
            .container-navbar-one {
                background-color: greenyellow;
                position: sticky;
                top: 0px;
                z-index: 1;
            }
        
            .navbar-nav { 
                width: 35vw;
                gap: 2vw;
                margin-left: 1vw ;
            }
            li {
                background-color: white;
                text-align: center;
                border-radius: 1vw;
                box-shadow: rgb(136, 133, 133) 0px 0px 5px;
            }
            .acco-cart-search {
            font-weight: 100;
                width: fit-content;
                margin-right: -0.6vw;
            }
            .form-search {
                min-width: 20vw;
            
            
            }
            input {
                width: 40vw;
                position: relative;

            }

            .icon-account-cart {
                max-width: 52vw;
                margin-right: -1.4vw;
            }
            .cart-account {
                font-size: 0.9vw;
                font-weight: 200;
            }

            .fa-user,
            .fa-cart-shopping {
                margin: 0.4vw;
                font-size: 0.8vw;
            }
            /* navbar two */
            .container-navbar-two {
                height: 80px;
                position: relative;
            background: white;
    }
            

            .navbar-two {
                top: 7px;
                position: relative;
                z-index: 1;
            }


            /* container img under navbar */

            .container-pra-under-nav {
                height: 25.6vw;
                padding: 4vw 0vw 0vw 7vw;
                background: white;
                background-size: 28vw 30vw;
                position: relative;
                background-color: #6ac5c5;
            }

            .text {
                font-weight: 900;
                font-size: 3vw;
                color: rgb(109, 41, 54);
            }

            .img-container-under-nav {
                position: absolute;
                top: 2.2vw;
                right: 5vw;
                height: 25vw;
            }
            .btn-buy-now {
                background-color: rgb(109, 41, 54);
                color: rgb(255, 255, 255);
                border: none;
                border-radius: 2vw;
                width: 15vw;
                height: 5vw;
                font-weight: bolder;
                font-size: 1.5vw;
                position: absolute;
                top: 16vw;
                left: 7vw;
                padding: 0vw;
            }
            .btn-primary:hover {
                background-color: rgb(109, 41, 54);
                box-shadow: rgb(109, 41, 54) 0px 0px 0.5vw;
            }
            
            /* main */
            .conainer-cards {
                row-gap: 5vw;
                margin: auto;
                display: flex;
                justify-content: space-around;
                padding: 0px;
            }
            .card-img-top {
                width: 265px;
                height: 243px;
            }
            .card {
                position: relative;
                text-align: left;
                background-color: rgb(245, 245, 245);
                width: 18rem;
                border-radius: 25px;
            }
            .pric-card {
                color: red;
        position: absolute;
        right: 20px;
        top: 261px;
        animation-name: price;
        animation-iteration-count: infinite;
        animation-duration: 0.5s;
                
            }
        
    
    
    @keyframes price {
        0% {
            color: black;
        }
        100% {
            color: red
    }
    }

            .card i {
                color: rgb(182, 182, 182);
            }
            .card i:hover {
                color: gold;
            }
            .card p {
                font-size: 12px;
                margin-top: 8px;
            }

            .button-Add-To-Cart {
                border-radius: 40px;
                padding: 8px 25px 8px 25px;
                background-color: white;
                border: solid 1.5px rgb(15, 43, 24);
                color: rgb(15, 43, 24);
                font-weight: bolder;
            }
            .button-Add-To-Cart:hover {
                .button-Add-To-Cart:hover {
                box-shadow: rgb(15, 43, 24) 0px 0px 10px;
                background-color: rgb(15, 43, 24);
            }

                font-weight: bolder;
            }
